SpareParts.Tester/Service References/DataServiceClient/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50984/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpareParts.Dto" />
  <xs:import schemaLocation="http://localhost:50984/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SaveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q1:ItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveItemResult" nillable="true" type="q2:ItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q3:ItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaperReferences">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaperReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllPaperReferencesResult" nillable="true" type="q4:ArrayOfPaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaperReferenceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaperReferenceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetPaperReferenceByIdResult" nillable="true" type="q5:PaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaperReferenceByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaperReferenceByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetPaperReferenceByNameResult" nillable="true" type="q6:PaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaperReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q7:PaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaperReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreatePaperReferenceResult" nillable="true" type="q8:PaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePaperReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q9:PaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePaperReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SavePaperReferenceResult" nillable="true" type="q10:PaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaperReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q11:PaperReferenceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaperReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePaperReferenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentByProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentByProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAttachmentByProductIdResult" nillable="true" type="q12:ArrayOfAttachmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAttachmentByIdResult" nillable="true" type="q13:AttachmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q14:AttachmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateAttachmentResult" nillable="true" type="q15:AttachmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q16:AttachmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveAttachmentResult" nillable="true" type="q17:AttachmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCustomerByIdResult" nillable="true" type="q18:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q19:ArrayOfCustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersForUI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersForUIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCustomersForUIResult" nillable="true" type="q20:ArrayOfCustomerUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SearchCustomerResult" nillable="true" type="q21:ArrayOfCustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q22:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateCustomerResult" nillable="true" type="q23:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q24:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveCustomerResult" nillable="true" type="q25:CustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllYears">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllYearsResult" nillable="true" type="q26:ArrayOfYearDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetYearByIdResult" nillable="true" type="q27:YearDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q28:YearDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateYearResult" nillable="true" type="q29:YearDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q30:YearDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveYearResult" nillable="true" type="q31:YearDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q32:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetProductByCustomerIdResult" nillable="true" type="q33:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByOperatorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByOperatorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetProductByOperatorIdResult" nillable="true" type="q34:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetProductByIdResult" nillable="true" type="q35:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q36:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateProductResult" nillable="true" type="q37:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q38:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductBasicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductBasicInfoResult" nillable="true" type="q39:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductSelling">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q40:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductSellingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductSellingResult" nillable="true" type="q41:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q42:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductComplaintResult" nillable="true" type="q43:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q44:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductReturnResult" nillable="true" type="q45:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductReplacement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q46:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductReplacementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductReplacementResult" nillable="true" type="q47:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q48:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductRequestResult" nillable="true" type="q49:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductOrdering">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q50:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductOrderingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductOrderingResult" nillable="true" type="q51:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subCategory1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subCategory2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subModel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="years" nillable="true" type="q52:ArrayOfstring" />
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SearchProductResult" nillable="true" type="q53:ArrayOfProductViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSellableProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subCategory1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subCategory2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subModel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="years" nillable="true" type="q54:ArrayOfstring" />
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSellableProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SearchSellableProductsResult" nillable="true" type="q55:ArrayOfProductViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetProfileByIdResult" nillable="true" type="q56:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfileByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetProfileByNameResult" nillable="true" type="q57:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllProfilesResult" nillable="true" type="q58:ArrayOfProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q59:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q60:ArrayOfUserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersForUI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersForUIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllUsersForUIResult" nillable="true" type="q61:ArrayOfUserUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetUserByUserNameResult" nillable="true" type="q62:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q63:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="newUser" nillable="true" type="q64:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateUserResult" nillable="true" type="q65:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="user" nillable="true" type="q66:UserUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveUserResult" nillable="true" type="q67:UserUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllBrandsResult" nillable="true" type="q68:ArrayOfBrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBrandsForUI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBrandsForUIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllBrandsForUIResult" nillable="true" type="q69:ArrayOfBrandViewForUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetBrandByIdResult" nillable="true" type="q70:BrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandsByProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandsByProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetBrandsByProductTypeResult" nillable="true" type="q71:ArrayOfBrandViewForUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetBrandByNameResult" nillable="true" type="q72:BrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q73:BrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateBrandResult" nillable="true" type="q74:BrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q75:BrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveBrandResult" nillable="true" type="q76:BrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q77:BrandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBrandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q78:ArrayOfCategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesForUIView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesForUIViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCategoriesForUIViewResult" nillable="true" type="q79:ArrayOfCategoryViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCategoryByIdResult" nillable="true" type="q80:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCategoryByNameResult" nillable="true" type="q81:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesByProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesByProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCategoriesByProductTypeResult" nillable="true" type="q82:ArrayOfCategoryViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategory1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parentIds" nillable="true" type="q83:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategory1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetSubCategory1Result" nillable="true" type="q84:ArrayOfCategoryViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategory2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parentIds" nillable="true" type="q85:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategory2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetSubCategory2Result" nillable="true" type="q86:ArrayOfCategoryViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q87:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateCategoryResult" nillable="true" type="q88:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q89:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveCategoryResult" nillable="true" type="q90:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q91:CategoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCountriesResult" nillable="true" type="q92:ArrayOfCountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesForUI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesForUIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCountriesForUIResult" nillable="true" type="q93:ArrayOfCountryUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesAndCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesAndCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCountriesAndCitiesResult" nillable="true" type="q94:ArrayOfCountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCountryByNameResult" nillable="true" type="q95:CountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q96:CountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateCountryResult" nillable="true" type="q97:CountryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q98:CountryUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCityByCountryResult" nillable="true" type="q99:ArrayOfCityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCitiesResult" nillable="true" type="q100:ArrayOfCityUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllLocationsResult" nillable="true" type="q101:ArrayOfLocationViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCityByNameResult" nillable="true" type="q102:CityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q103:CityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateCityResult" nillable="true" type="q104:CityDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q105:CityUIDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllModelsResult" nillable="true" type="q106:ArrayOfModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllModelsForUI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllModelsForUIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllModelsForUIResult" nillable="true" type="q107:ArrayOfModelViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brandId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetModelsByBrandResult" nillable="true" type="q108:ArrayOfModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetModelByIdResult" nillable="true" type="q109:ModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelBySubModelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subModelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelBySubModelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetModelBySubModelIdResult" nillable="true" type="q110:ArrayOfModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q111:ModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateModelResult" nillable="true" type="q112:ModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q113:ModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveModelResult" nillable="true" type="q114:ModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllProductTypesResult" nillable="true" type="q115:ArrayOfProductTypeViewDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetProductTypeByIdResult" nillable="true" type="q116:ProductTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q117:ProductTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateProductTypeResult" nillable="true" type="q118:ProductTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q119:ProductTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveProductTypeResult" nillable="true" type="q120:ProductTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProductTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRatings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllRatingsResult" nillable="true" type="q121:ArrayOfRatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetRatingByIdResult" nillable="true" type="q122:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeRatingtByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeRatingtByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GeRatingtByNameResult" nillable="true" type="q123:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q124:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateRatingResult" nillable="true" type="q125:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q126:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveRatingResult" nillable="true" type="q127:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRatingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllStatesResult" nillable="true" type="q128:ArrayOfStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByStateId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByStateIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetByStateIdResult" nillable="true" type="q129:StateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetStateByNameResult" nillable="true" type="q130:StateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q131:StateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateStateResult" nillable="true" type="q132:StateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q133:StateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveStateResult" nillable="true" type="q134:StateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllSubModelsResult" nillable="true" type="q135:ArrayOfSubModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubModelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubModelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetSubModelByIdResult" nillable="true" type="q136:SubModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubModelByModelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubModelByModelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetSubModelByModelIdResult" nillable="true" type="q137:ArrayOfSubModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q138:SubModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateSubModelResult" nillable="true" type="q139:SubModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q140:SubModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveSubModelResult" nillable="true" type="q141:SubModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSubModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllCustomerTypesResult" nillable="true" type="q142:ArrayOfCustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCustomerTypeByIdResult" nillable="true" type="q143:CustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetCustomerTypeByNameResult" nillable="true" type="q144:CustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateCustomerTypeResult" nillable="true" type="q145:CustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q146:CustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="SaveCustomerTypeResult" nillable="true" type="q147:CustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q148:CustomerTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetAllItemsResult" nillable="true" type="q149:ArrayOfItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetItemByIdResult" nillable="true" type="q150:ItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="GetItemByNameResult" nillable="true" type="q151:ItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="dto" nillable="true" type="q152:ItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/SpareParts.Dto" minOccurs="0" name="CreateItemResult" nillable="true" type="q153:ItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>